USE [master]
GO
/****** Object:  Database [MedicalData]    Script Date: 2022-10-02 4:33:14 PM ******/
CREATE DATABASE [MedicalData]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MedicalData', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MedicalData.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MedicalData_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MedicalData_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MedicalData].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MedicalData]
GO
/****** Object:  Table [dbo].[Hospitals]    Script Date: 2022-10-02 4:33:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hospitals](
	[Id] [tinyint] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[Postal] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Hospitals] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicalPlans]    Script Date: 2022-10-02 4:33:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalPlans](
	[Id] [tinyint] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[Postal] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MedicalPlans] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicalProcedures]    Script Date: 2022-10-02 4:33:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalProcedures](
	[Id] [tinyint] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_MedicalProcedures] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Operations]    Script Date: 2022-10-02 4:33:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Operations](
	[Id] [tinyint] NOT NULL,
	[Date] [date] NOT NULL,
	[Time] [time](7) NOT NULL,
	[ProcedureId] [tinyint] NOT NULL,
	[PatientId] [tinyint] NOT NULL,
 CONSTRAINT [PK_Operations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 2022-10-02 4:33:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[Id] [tinyint] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[Postal] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[KinName] [nvarchar](50) NOT NULL,
	[KinPhone] [nvarchar](50) NOT NULL,
	[PhysicianId] [tinyint] NOT NULL,
	[MedicalId] [tinyint] NOT NULL,
 CONSTRAINT [PK_Patients] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Physicians]    Script Date: 2022-10-02 4:33:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Physicians](
	[Id] [tinyint] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[Postal] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[HospitalId] [tinyint] NULL,
 CONSTRAINT [PK_Physicians] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Hospitals] ([Id], [Name], [Address], [City], [Postal], [Phone]) VALUES (1, N'Lions Gate', N'231 East 15th Str.', N'North Vancouver', N'V4M 2A5', N'604-988-3131')
INSERT [dbo].[Hospitals] ([Id], [Name], [Address], [City], [Postal], [Phone]) VALUES (2, N'Royal Columbian', N'330 East Columbia Str.', N'New Westminster', N'V5X 3U9', N'604-520-4253')
INSERT [dbo].[Hospitals] ([Id], [Name], [Address], [City], [Postal], [Phone]) VALUES (3, N'Vancouver General', N'899 West 12th Ave.', N'Vancouver', N'V8B 4S2', N'604-875-4111')
GO
INSERT [dbo].[MedicalPlans] ([Id], [Name], [Address], [City], [Postal], [Phone]) VALUES (1, N'MSP', N'122 Main Str.', N'Vancouver', N'V7G 6T6', N'604-133-7765')
INSERT [dbo].[MedicalPlans] ([Id], [Name], [Address], [City], [Postal], [Phone]) VALUES (2, N'MSA', N'4556 Alpen Dr.', N'Richmond', N'V6X 2A5', N'604-278-5588')
INSERT [dbo].[MedicalPlans] ([Id], [Name], [Address], [City], [Postal], [Phone]) VALUES (3, N'Blue Cross', N'1212 Main Str.', N'Vancouver', N'V5T 7U9', N'604-449-1343')
GO
INSERT [dbo].[MedicalProcedures] ([Id], [Name]) VALUES (1, N'Rhinoplasty')
INSERT [dbo].[MedicalProcedures] ([Id], [Name]) VALUES (2, N'Appendectomy')
INSERT [dbo].[MedicalProcedures] ([Id], [Name]) VALUES (3, N'Tonsilectomy')
GO
INSERT [dbo].[Operations] ([Id], [Date], [Time], [ProcedureId], [PatientId]) VALUES (1, CAST(N'2005-06-22' AS Date), CAST(N'15:00:00' AS Time), 1, 1)
INSERT [dbo].[Operations] ([Id], [Date], [Time], [ProcedureId], [PatientId]) VALUES (2, CAST(N'2005-07-18' AS Date), CAST(N'10:00:00' AS Time), 2, 2)
INSERT [dbo].[Operations] ([Id], [Date], [Time], [ProcedureId], [PatientId]) VALUES (3, CAST(N'2005-08-25' AS Date), CAST(N'16:00:00' AS Time), 3, 3)
GO
INSERT [dbo].[Patients] ([Id], [Name], [Address], [City], [Postal], [Phone], [KinName], [KinPhone], [PhysicianId], [MedicalId]) VALUES (1, N'Smith, James', N'1587 Elm Str.', N'Vancouver', N'V5R 2A3', N'604-277-1810', N'Smith, Alice', N'604-277-1810', 1, 1)
INSERT [dbo].[Patients] ([Id], [Name], [Address], [City], [Postal], [Phone], [KinName], [KinPhone], [PhysicianId], [MedicalId]) VALUES (2, N'Jones, Richard', N'1677 Oak Str.', N'Vancouver', N'V7Y 8K0', N'604-662-8888', N'Jones, Margaret', N'604-662-8888', 2, 2)
INSERT [dbo].[Patients] ([Id], [Name], [Address], [City], [Postal], [Phone], [KinName], [KinPhone], [PhysicianId], [MedicalId]) VALUES (3, N'Adamson, Frank', N'126 Main Str.', N'Vancouver', N'V8J 9F5', N'604-321-1755', N'Adamson, Jane', N'604-321-1755', 3, 3)
GO
INSERT [dbo].[Physicians] ([Id], [Name], [Address], [City], [Postal], [Phone], [HospitalId]) VALUES (1, N'Wong, Stephen', N'558 West 16th Ave.', N'Vancouver', N'V7X 5R7', N'604-322-1900', 1)
INSERT [dbo].[Physicians] ([Id], [Name], [Address], [City], [Postal], [Phone], [HospitalId]) VALUES (2, N'Sanders, Fred', N'1177 Kingsway', N'Burnaby', N'V4P 3E6', N'604-435-1177', 2)
INSERT [dbo].[Physicians] ([Id], [Name], [Address], [City], [Postal], [Phone], [HospitalId]) VALUES (3, N'Greenberg, Sam', N'3388 Oak Str.', N'Vancouver', N'V3E 2G5', N'604-321-4466', 3)
GO
ALTER TABLE [dbo].[Operations]  WITH CHECK ADD  CONSTRAINT [FK_Operations_MedicalProcedures1] FOREIGN KEY([ProcedureId])
REFERENCES [dbo].[MedicalProcedures] ([Id])
GO
ALTER TABLE [dbo].[Operations] CHECK CONSTRAINT [FK_Operations_MedicalProcedures1]
GO
ALTER TABLE [dbo].[Operations]  WITH CHECK ADD  CONSTRAINT [FK_Operations_Patients1] FOREIGN KEY([PatientId])
REFERENCES [dbo].[Patients] ([Id])
GO
ALTER TABLE [dbo].[Operations] CHECK CONSTRAINT [FK_Operations_Patients1]
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD  CONSTRAINT [FK_Patients_MedicalPlans1] FOREIGN KEY([MedicalId])
REFERENCES [dbo].[MedicalPlans] ([Id])
GO
ALTER TABLE [dbo].[Patients] CHECK CONSTRAINT [FK_Patients_MedicalPlans1]
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD  CONSTRAINT [FK_Patients_Physicians1] FOREIGN KEY([PhysicianId])
REFERENCES [dbo].[Physicians] ([Id])
GO
ALTER TABLE [dbo].[Patients] CHECK CONSTRAINT [FK_Patients_Physicians1]
GO
ALTER TABLE [dbo].[Physicians]  WITH CHECK ADD  CONSTRAINT [FK_Physicians_Hospitals] FOREIGN KEY([HospitalId])
REFERENCES [dbo].[Hospitals] ([Id])
GO
ALTER TABLE [dbo].[Physicians] CHECK CONSTRAINT [FK_Physicians_Hospitals]
GO
USE [master]
GO
